.to-interact__buttons button{
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.116);
    cursor: pointer;
    transform:scale(1);
    transition-duration: 1000ms;
}

.to-interact__buttons button:hover{
    transform:scale(1.05);
    background-color: #38618c;
    color: white;
}

.to-interact__buttons span{
    padding-right: 10px;
}