.to-interact__nb-of-likes span {
    cursor: pointer;
}

.to-interact__nb-of-likes{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 5px;
}

.to-interact__nb-of-likes p{
    padding-left: 10px;
}