.to-interact__buttons button{
    padding: 10px;
    cursor: pointer;
}

button.button__liked{
    background-color: rgba(4, 0, 255, 0.308);
    color: white;
}

.to-interact__buttons span{
    padding-right: 10px;
}

.to-interact__nb-of-likes{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 5px;
}

.to-interact__nb-of-likes p{
    padding-left: 10px;
}