.modal, .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  cursor:default;
  color: black;
}

.update-post{
  color: blue;
  margin-right: 30px;
  font-size: 20px;
  cursor: pointer;
}

.overlay {
  background: rgba(83, 81, 81, 0.767);
}

.modal h2 {
  color: #FD2D01;
  margin-left: 0;
}

.modal-content {
  display: flex;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  width: 100%;
  max-width: 420px;
  min-height: 500px;
  padding: 1rem;
  background-color: white;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 0.1;
}

.modal-content #save {
  margin-top: 50px;
  padding: 10px;
  width: 250px;
  background-color: #FD2D01;
  border-radius: 50px;
  cursor: pointer;
  color: white;
}

.close-modal {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.modal-content .close-modal {
  padding: 10px;
  background-color: white;
  font-size: 25px;
  cursor: pointer;
  color: black;
}

#output-image{
  width: 200px;
  max-height: 150px;
  margin-top: 20px;
}

#message
{
  width: 300px;
  height: 200px;
  font-size: 20px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.151);
  border: none;
  margin-top: 10px;
  resize: none;
  outline:none;
}

.input-image{
  padding-top: 30px;
}

@media (max-width: 768px) { 
  .modal-content {
  font-size: 15px;
  width: 300px;
  }

  #message{
  width: 250px;
  height: 100px;
  } 
}

