.App-body {
  display: grid;
  justify-content: center;
  text-align: center;
}

.App-body h3 {
  display: grid;
  justify-content: flex-start;
  padding-left: 20px;
  font-style: oblique;
  padding-bottom: 20px;
}

.App-comment {
    margin: 20px;
    padding : 20px;
    background-color: #FFF;
    border-radius: 30px;
    max-width: 700px;
    transition: 200ms;
}

.App-comment:hover{
    box-shadow: 2px 2px 10px #e2e3e9;
}

.App-comment .image {
  width: 100%;
  height: 500px;
  border-radius: 25px;
}

.App-comment .body {
  font-size: 20px;
  overflow-wrap: anywhere;
}

.title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.delete-post{
  color: red;
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}

