.App-body {
  display: grid;
  justify-items: center;
  text-align: center;
}

.App-body h3 {
  display: grid;
  justify-content: flex-start;
  padding-left: 20px;
  font-style: oblique;
  padding-bottom: 20px;
}

.App-comment {
    margin: 20px;
    background-color: #FFF;
    border-radius: 20px;
    width: 100%;
    max-width: 740px;
    transition: 200ms;
}

.App-comment:hover{
    box-shadow: 2px 2px 10px #e2e3e9;
}

.App-comment .image {
  width: 100%;
  max-width: 740px;
  height: 500px;
}

.App-comment .body {
  font-size: 20px;
  overflow-wrap: anywhere;
  padding: 0px 20px 0px 20px;
}

.title {
  display: flex;
  padding: 20px 20px 0px 20px;
  align-items: center;
  justify-content: space-between;
}

.title h2 {
  margin-left: 20px;
}

.icon-post {
  display: flex;
}

.picture-profil{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.photoUser{
  display: flex;
  align-items: center;
}

@media (max-width: 768px) { 
  .App-comment .image {
  height: 350px;
}
}



