.modal-profil #back-welcome {
    position: absolute;
    margin-top: 130px;
    margin-left: 100px;
    cursor: pointer;
    text-decoration: none;
}

.modal-profil{
  display: flex;
  justify-items: center;
  justify-content: center;
}


.modal-profil-content {
    display: flex;
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: 700px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 25px;
    background-color: white;
}

.modal-profil-content form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 0.1;
}

.modal-profil-content #save {
  margin-top: 60px;
  padding: 10px;
  background-color: #FD2D01;
  border-radius: 50px;
  cursor: pointer;
  color: white;
}

#name-profil,#firstname-profil,#email-profil
{
  width: 300px;
  height: 40px;
  font-size: 20px;
  background-color: rgba(128, 128, 128, 0.151);
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  outline:none;
}

#email-profil{
  background-color: rgba(128, 128, 128, 0.568);
}

.edit-picture{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.add-picture{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) { 
  .modal-profil-content {
    width: 350px;
    background-color: transparent;
    padding: 0;
  }
}